<div class="thumbnail" id="{{ step.part | prepend: section.number | prepend: "step" }}">
  {% if include.step.image %}
    {% if include.step.imageoverride %}
      <img src="{{ include.step.image }}" {% if include.step.alt %}alt="{{ include.step.imagealt }}"{% endif %}>
    {% else %}
      <img src="{{ include.step.image | prepend: "/img/" | prepend: site.github.url | replace_first:'http://','https://' }}" {% if include.step.alt %}alt="{{ include.step.imagealt }}"{% endif %}>
    {% endif %}
  {% endif %}
  
  <div class="caption">
    <h3>Step {{ include.section }} - Part {{ include.step.part }}: {{ include.step.title }}</h3>
    
    {% if include.step.text %}
      <p>{{ include.step.text | markdownify }}</p>
    {% endif %}
    
    {% if include.step.extrainfo %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ include.step.part }}">
        {% if include.step.extrainfo.buttontext %}
          {{ include.step.extrainfo.buttontext }}
        {% else %}
          More Info
        {% endif %}
      </button>
    {% endif %}
  </div>
</div>

{% if include.step.extrainfo %}
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="{{ include.step.part }}" tabindex="-1" role="dialog" aria-labelledby="{{ include.step.id }}Label">
  <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title" id="{{ include.step.part }}Label">Step {{ include.step.part }}: {{ include.step.title }}</h4>
    </div>
    <div class="modal-body">
      {% if include.step.extrainfo.header %}
        <h4>{{ include.step.extrainfo.header }}</h4>
      {% endif %}
      {% if include.step.extrainfo.text %}
        <p>{{ include.step.extrainfo.text | markdownify }}</p>
      {% endif %}
      {% for step in include.step.extrainfo.steps %}
        {% include step.html section=section.number step=step %}
      {% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
</div>
{% endif %}
